.close-button {
  margin-left: 20px;
  background-color: orangered;
  color: white;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button {
  margin: 20px 0px;
}
