<form (ngSubmit)="handleSubmit()">
  <input
    nbInput
    fullWidth
    autofocus
    [(ngModel)]="newText"
    [ngModelOptions]="{ standalone: true }"
    placeholder="Enter the thing you have to do"
  />
  <button nbButton fullWidth status="primary" class="button">Add</button>
</form>
<nb-card size="large">
  <nb-list>
    <nb-list-item *ngFor="let todo of todos; let i = index">
      <span>{{ i + 1 }}. {{ todo.text }}</span>
      <div (click)="handleDelete(i)" class="close-button">
        <nb-icon icon="close-outline"></nb-icon>
      </div>
    </nb-list-item>
  </nb-list>
</nb-card>
